<!-- Footer -->
<footer class="w3-row-padding w3-padding-32">
  <div class="w3-third">
    <h3>ABOUT</h3>
    <p>masakYuk ingin membuat para pembacanya selalu kenyang, dengan hanya melihat gambar makanan serta tutorial masak kami yang sederhana bisa pembaca terapkan dimanapun dan kapanpun</p>
    <p>Powered by <a href="/" target="_blank">masakYuk</a></p>
  </div>

  <div class="w3-third">
    <h3>Sponsor</h3>
    <ul class="w3-ul w3-hoverable">
      <li class="w3-padding-16">
        <img src="../fotoFooter/sponsor.jpg" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Bimoly</span><br>
        <span>Minyak nomor 1 di dunia</span>
      </li>
      <li class="w3-padding-16">
        <img src="../fotoFooter/sponsor2.jpeg" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Terygu</span><br>
        <span>Tepung nomor 1 di dunia</span>
      </li> 
    </ul>
  </div>

  <div class="w3-third w3-serif">
    <h3>POPULAR CATEGORY</h3>
    <p>
      <span class="w3-tag w3-black w3-margin-bottom">Indonesian Food</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Japanese Food</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Western Food</span>
      
    </p>
  </div>
</footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
document.getElementById("mySidebar").style.display = "none";
}
</script>